$primary: #3251e1;
$danger: #ff5b5b;
$dark: #3a444e;

$body-bg: #343a40;
$body-color: rgb(170, 184, 197);

$input-bg: #464f5b;
$input-border-width: 0;
$input-focus-box-shadow: none;
$link-decoration: none;
$link-color: #f8f9fa;